/* Default styles for smaller screens */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #484646;
    margin: auto;
    margin-top: 20px; /* Adjusted for smaller screens */
    max-width: 90%; /* Adjusted for smaller screens */
    border-radius: 20px;
}

.quote {
    font-size: 24px; /* Adjusted for smaller screens */
    padding: 30px 20px; /* Adjusted for smaller screens */
    text-align: center;
    font-weight: 500;
}

.line {
    margin: 10px 0;
    max-width: 90%; /* Adjusted for smaller screens */
    background: rgb(229, 68, 68);
    height: 2px;
}

.btm {
    display: flex;
    flex-direction: column; /* Adjusted for smaller screens */
    align-items: center; /* Adjusted for smaller screens */
    gap: 20px; /* Adjusted for smaller screens */
}

.athr {
    font-size: 18px; /* Adjusted for smaller screens */
    font-weight: 500;
    color: rgb(229, 68, 68);
}

.icns {
    display: flex;
    gap: 10px; /* Adjusted for smaller screens */
}

.icns img {
    height: 30px; /* Adjusted for smaller screens */
    cursor: pointer;
    border-radius: 15px; /* Adjusted for smaller screens */
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .container {
        margin-top: 100px; /* Restore the original value for larger screens */
        max-width: 730px; /* Restore the original value for larger screens */
    }

    .quote {
        font-size: 32px;
        padding: 50px 100px;
    }

    .line {
        max-width: 650px;
        background: rgb(229, 68, 68);
    }

    .btm {
        flex-direction: row;
        align-items: center;
        gap: 250px;
    }

    .athr {
        font-size: 20px;
    }

    .icns img {
        height: 50px;
        border-radius: 25px;
    }
}
